.card-panel {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.08);
  width: 100%;
}

.panel {
  box-shadow: none;
  border-radius: 0;
  margin: 20px 0;
}

.card {
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-trending {
  counter-reset: list-trending;
  margin: 24px 0 0 16px;
}

.list-trending > li:before {
  background-color: #0057a8 !important;
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  line-height: 23px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #222;
  text-align: center;
  margin-right: 15px;
  content: counter(list-trending);
  counter-increment: list-trending;
  position: absolute;
}
