.card-headline {
  font-size: 18px;
  /* font-weight: bold; */
  margin-left: 10px;
}
.card-headline a {
  color: #333;
}

.card-label-author {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}

.story-row {
  align-items: flex-start;
}
