.block-title {
  border-bottom: 3px double #222;
}

.block-title-inner {
  border-bottom: medium none;
  padding: 20px 15px 10px 0;
  margin-bottom: -1px;
}

.block-title-inner h3 {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
